<div class="sticky panel" ng-controller="PatientHeader" ng-if="patient.id && patient.id > 0">
  <div class="panel-body patient-header">
    <div class="avatar clearfix">
      <img ng-if="patient.id" src="/assets/images/avatars-material-man-1.png" height="54" />
    </div>
    <div class="patient-info" ng-if="patient">
      <h5 tooltip placement="top" tooltip-title="Paciente {{patient.id}}">{{patient.apellido}}, {{patient.nombre}}</h5>
      <p>
        <span>{{patient.age}}</span>&nbsp;<i class="fa fa-info-circle" tooltip tooltip-title='Fecha de nacimiento: {{patient.fechaNacimiento}}'></i>
      </p>
      <p ng-show="patient.documento" class="hidden-xs">
        <span>{{patient.documento}}</span>
      </p>
      <p ng-show="patient.healthCare">
        {{patient.healthCare.financiador}}&nbsp;{{patient.healthCare.plan}}&nbsp;<i ng-if="patient.iva" class="fa fa-info-circle" tooltip tooltip-title="IVA: {{patient.iva}}"></i>
        <br/>{{patient.healthCare.numero}}
      </p>
      <p ng-show="patient.currentLocation">
        <i class="fa fa-lg fa-bed"></i>&nbsp;&nbsp;{{patient.currentLocation}}
      </p>
    </div>
    <div class="row-margin-top outpatient ng-hide">
      <p><strong>
        <a href="{{timelineUrl(0)}}" selected-class="selected" selected-regexp="{{urlRegexp(0)}}">Ambulatorio</a>
      </strong></p>
    </div>
    <div class="row-margin-top episode-list" ng-if="patient.episodes">
      <p><strong>Internación</strong></p>
      <p ng-repeat="e in patient.episodes" class="episode-dates">
        <a href="{{timelineUrl(e.id)}}" selected-class="selected" selected-regexp="{{urlRegexp(e.id)}}"
           tooltip placement="top" tooltip-title="Episodio {{e.admissionId}}">
          {{e.start | date}} - <span ng-show="e.end">{{e.end | date}}</span><span ng-hide="e.end || e.state == 'ANULADA'">Hoy</span><span ng-show="e.state == 'ANULADA'">Anulada</span>
        </a>
      </p>
    </div>
  </div>
</div>
<div class="sticky panel" ng-controller="PatientHeader" ng-if="patient.id && patient.id < 0">
  <div class="panel-body patient-header">
    <h5 class="alert alert-warning" style="text-align: center;">
      Error cargando paciente, mostrando versión de sólo lectura.
      <br><br>
      Por favor reintente.
    </h5>
  </div>
</div>
<a id="return-to-top" ng-click="returnToTop();">
  <i class="fa fa-chevron-up"></i>
</a>
