<form class="form-horizontal" role="form" name="egreso1" id="egreso1" novalidate>
  <div ng-init="setActiveForm(egreso1)">
    <div class="form-group">
      <label for="date" class="col-xs-2 control-label">Fecha</label>
      <div class="col-xs-4">
        <input name="date" type="text" class="form-control" default-date-picker
          date-picker end-date="{{tomorrow()}}" ng-model="data._1.fecha" ng-pattern="/^\d{2}\/\d{2}\/\d{4}$/" required/>
      </div>
      <label for="hour" class="col-xs-2 control-label">Hora</label>
      <div class="col-xs-4">
        <input name="hour" type="text" class="form-control" time-picker ng-model="data._1.hora" required/>
      </div>
    </div>
  </div>
  <div class="form-group">
    <label for="sector" class="col-xs-4 control-label">Sector donde se encuentra</label>
    <div class="col-xs-4">
      <select name="sector" class="form-control" ng-model="data._1.sectorActual" required>
        <option value="">Seleccione...</option>
        <option value="Internación general">Internación general</option>
        <option value="Terapia Intensiva">Terapia Intensiva</option>
        <option value="Unidad Coronaria">Unidad Coronaria</option>
        <option value="Maternidad">Maternidad</option>
        <option value="Neonatología">Neonatología</option>
        <option value="Pediatría">Pediatría</option>
        <option value="Guardia">Guardia</option>
      </select>
    </div>
  </div>
  <div ng-init="data._1.destino = 'pase'">
    <div class="form-group">
      <label class="col-xs-2 control-label">Destino</label>
      <div class="col-xs-4">
        <label class="radio">
          <input type="radio" ng-model="data._1.destino" value="pase">Pase de servicio o sector
        </label>
      </div>
      <div ng-if="data._1.destino === 'pase'" class="col-xs-4">
        <select name="sector" class="form-control" ng-model="data._1.destinoPase" required>
          <option value="">Seleccione...</option>
          <option value="Internación general">Internación general</option>
          <option value="Terapia Intensiva">Terapia Intensiva</option>
          <option value="Unidad Coronaria">Unidad Coronaria</option>
          <option value="Maternidad">Maternidad</option>
          <option value="Neonatología">Neonatología</option>
          <option value="Pediatría">Pediatría</option>
        </select>
      </div>
    </div>
    <div class="form-group">
      <label class="col-xs-2 control-label"></label>
      <div class="col-xs-4">
        <label class="radio">
          <input type="radio" ng-model="data._1.destino" value="alta">Alta
        </label>
      </div>
      <div ng-if="data._1.destino === 'alta'" class="col-xs-4">
        <select name="sector" class="form-control" ng-model="data._1.destinoAlta" required>
          <option value="">Seleccione...</option>
          <option value="Domicilio">Domicilio</option>
          <option value="Centro de 3er nivel">Centro de 3er nivel</option>
          <option value="Centro de rehabilitación">Centro de rehabilitación</option>
          <option value="Otro centro">Otro centro</option>
          <option value="Obito">Obito</option>
        </select>
      </div>
    </div>
  </div>
</form>
