<form class="form-horizontal" role="form" name="egreso5" id="egreso5" novalidate>
  <div ng-init="setActiveForm(egreso5)">
    <input name="noProblems" type="hidden" ng-model="noProblems" ng-required="selectedProblems.length === 0">
    <div class="form-group col-xs-12">
      <div style="margin-bottom:20px;">
        <span class="title-slim">Ingrese al menos un problema y/o procedimientos como diagnóstico de egreso...</span>
      </div>
      <ul class="problem-list">
        <li ng-repeat="p in selectableProblems">
          <span class="label label-default problem-label" ng-class="{'selected' : selected(p._token) }"
                ng-click="toggleProblem(p._token);"
                tooltip placement="top" tooltip-display-on="p._tooltip" tooltip-html="true" tooltip-title="{{p._tooltip}}">
          <i ng-hide="selected(p._token)" class="fa fa-square-o"></i>
          <i ng-show="selected(p._token)" class="fa fa-check-square-o"></i>
          <span class="label-description">{{p._label}}</span>
        </span></li>
        <li>
          <span class="label label-default problem-label new-problem" ng-click="showNewProblemModal();">
            <i class="fa fa-plus"></i><span class="label-description" style="margin-left:5px">Nuevo Problema</span>
          </span>
        </li>
      </ul>
    </div>
  </div>
</form>

<div class="modal fade new-problem-modal-ingreso" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header" style="background-color:#424f63;">
        <button type="button" class="close" data-dismiss="modal">
          <span aria-hidden="true">&times;</span><span class="sr-only">Close</span>
        </button>
        <h4 class="modal-title" id="myModalLabel">Nuevo Problema</h4>
      </div>
      <div class="modal-body">
        <div ng-include="'/assets/templates/patient/problem-form.html'"></div>
      </div>
    </div>
  </div>
</div>