<form class="form-horizontal" role="form" name="egreso4" id="egreso4" novalidate>
  <div ng-init="setActiveForm(egreso4)">
    <div class="col-xs-12">
      <textarea class="form-control" rows="12" maxlength="4000" required
        ng-model="data._4.resumen" placeholder="Describa la evolución del paciente, estudios y procedimientos realizados...">
      </textarea>
    </div>
  </div>
</form>
