<form class="form-horizontal" role="form" name="ingreso1" id="ingreso1" novalidate>
  <div ng-init="setActiveForm(ingreso1)">
    <div class="form-group">
      <label for="date" class="col-xs-3 control-label">Fecha</label>
      <div class="col-xs-3">
        <input type="text" class="form-control" default-date-picker date-picker ng-model="data._1.fecha"
          ng-pattern="/^\d{2}\/\d{2}\/\d{4}$/" required/>
      </div>
      <label for="date" class="col-xs-3 control-label">Hora</label>
      <div class="col-xs-3">
        <input type="text" class="form-control" time-picker ng-model="data._1.hora" required/>
      </div>
    </div>
    <div class="form-group">
      <label for="date" class="col-xs-3 control-label">Se interna en</label>
      <div class="col-xs-3">
        <select class="form-control" ng-model="data._1.sectorDestino" required>
          <option value="">Seleccione...</option>
          <option value="Internación general">Internación general</option>
          <option value="Terapia Intensiva">Terapia Intensiva</option>
          <option value="Unidad Coronaria">Unidad Coronaria</option>
          <option value="Maternidad">Maternidad</option>
          <option value="Neonatología">Neonatología</option>
          <option value="Pediatría">Pediatría</option>
          <option value="Guardia">Guardia</option>
        </select>
      </div>
      <label for="date" class="col-xs-3 control-label">Proveniente de</label>
      <div class="col-xs-3">
        <select class="form-control" ng-model="data._1.sectorOrigen" required>
          <option value="">Seleccione...</option>
          <option value="Internación general">Internación general</option>
          <option value="Terapia Intensiva">Terapia Intensiva</option>
          <option value="Unidad Coronaria">Unidad Coronaria</option>
          <option value="Maternidad">Maternidad</option>
          <option value="Neonatología">Neonatología</option>
          <option value="Pediatría">Pediatría</option>
          <option value="Guardia">Guardia</option>
          <option value="Hemodinamia">Hemodinamia</option>
          <option value="Quirófano">Quirófano</option>
          <option value="Sala de partos">Sala de partos</option>
          <option value="Domicilio">Domicilio</option>
          <option value="Otro centro">Otro centro</option>
        </select>
      </div>
    </div>
  </div>
  <div class="col-xs-12">
    <div class="form-group top-divider">
      <label for="date" class="col-xs-3 control-label">Motivo de ingreso</label>
      <div class="col-xs-9">
        <input type="text" class="form-control" ng-model="data._1.motivo" required>
      </div>
    </div>
  </div>
</form>
