<form class="form-horizontal" role="form" name="monitoreo2" id="monitoreo2" novalidate>
  <div class="form-group" ng-init="setActiveForm(monitoreo2)">
    <div class="col-xs-11">
      <label>
        <input type="checkbox" ng-model="data._2.noMed"> No refiere medicación habitual
      </label>
    </div>
    <div class="col-xs-11">
      <textarea class="form-control" rows="6" maxlength="4000" ng-required="!data._2.noMed" ng-disabled="data._2.noMed"
        ng-model="data._2.medicacion" placeholder="Describa la medicación habitual del paciente...">
      </textarea>
    </div>
  </div>
</form>
