<div class="monitoreo-3">
  <h3 class="substep-title">1. ECG Basal</h3>
  <form role="form" class="with-attach" name="monitoreo3" id="monitoreo3" novalidate="">
    <div>
      <div class="row">
        <div class="col-xs-4 form-group">
          <label>Ritmo
            <select class="form-control" ng-model="data._3.rhythm">
              <option value="" disabled selected>Seleccione...</option>
              <option ng-repeat="r in ecgRhythms">{{r}}</option>
            </select>
          </label>
        </div>
        <div class="col-xs-4 form-group">
          <label>Frec. cardíaca
            <div class="input-group">
              <input type="number" min="{{min('heartFreq')}}" max="{{max('heartFreq')}}" class="form-control" name="ecgheartFreq" inform-errors="resultForm.ecgheartFreq"
              error-message="Frecuencia fuera de rango" ng-model="data._3.heartFreq">
              <div class="input-group-addon">lpm</div>
            </div>
          </label>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-4 form-group">
          <label>Duración onda P
            <div class="input-group">
              <input type="number" min="{{min('pWave')}}" max="{{max('pWave')}}" class="form-control" name="ecgpWave" inform-errors="resultForm.ecgpWave"
              error-message="Frecuencia fuera de rango" ng-model="data._3.pWave">
              <div class="input-group-addon">mseg</div>
            </div>
          </label>
        </div>
        <div class="col-xs-4 form-group">
          <label>Intervalo PR
            <div class="input-group">
              <input type="number" min="{{min('prInterval')}}" max="{{max('prInterval')}}" class="form-control" name="ecgprInterval" inform-errors="resultForm.ecgprInterval"
              error-message="Frecuencia fuera de rango" ng-model="data._3.prInterval">
              <div class="input-group-addon">mseg</div>
            </div>
          </label>
        </div>
        <div class="col-xs-4 form-group">
          <label>Duración QRS
            <div class="input-group">
              <input type="number" min="{{min('qrsDuration')}}" max="{{max('qrsDuration')}}" class="form-control" name="ecgqrsDuration" inform-errors="resultForm.ecgqrsDuration"
              error-message="Frecuencia fuera de rango" ng-model="data._3.qrsDuration">
              <div class="input-group-addon">mseg</div>
            </div>
          </label>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-4 form-group">
          <label>Eje QRS
            <div class="input-group">
              <input type="number" min="{{min('qrsAxis')}}" max="{{max('qrsAxis')}}" class="form-control" name="ecgqrsAxis" inform-errors="resultForm.ecgqrsAxis"
              error-message="Frecuencia fuera de rango" ng-model="data._3.qrsAxis">
              <div class="input-group-addon">grados</div>
            </div>
          </label>
        </div>
        <div class="col-xs-4 form-group">
          <label>Intervalo QT
            <div class="input-group">
              <input type="number" min="{{min('qtInterval')}}" max="{{max('qtInterval')}}" class="form-control" name="ecgqtInterval" inform-errors="resultForm.ecgqtInterval"
              error-message="Frecuencia fuera de rango" ng-model="data._3.qtInterval">
              <div class="input-group-addon">mseg</div>
            </div>
          </label>
        </div>
        <div class="col-xs-4 form-group">
          <label>QT Corregido <i class="fa fa-question-circle" tooltip tooltip-html="true" tooltip-title="Según fórmula de Fridericia"></i>
            <div class="input-group">
              <input type="text" class="form-control" ng-model="data._3.qtCorrected" readonly>
              <div class="input-group-addon">mseg</div>
            </div>
          </label>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-6 form-group">
        <fieldset>
          <label class="checkbox-inline">
            <input type="checkbox" ng-model="data._3.bri">BRI
          </label>
          <label class="checkbox-inline">
            <input type="checkbox" ng-model="data._3.brd">BRD
          </label>
          <label class="checkbox-inline">
            <input type="checkbox" ng-model="data._3.hai">HAI
          </label>
          <label class="checkbox-inline">
            <input type="checkbox" ng-model="data._3.hpi">HPI
          </label>
        </fieldset>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12 form-group">
          <label>Comentarios</label>
          <textarea class="form-control" maxlength="140" rows="2" ng-model="data._3.comments"></textarea>
        </div>
      </div>
    </div>

    <div class="form-group">
      <div class="drop-file" ng-hide="data._3.attached" dropzone>
        <h3><i class="fa fa-cloud-upload"></i>&nbsp;Adjuntar imagen del ECG</h3>
        <input type="file" name="attachment" accept="image/png, image/jpeg" ng-model="data._3.attachment"
               onchange="angular.element(this).scope().attachments(this);" />
      </div>
      <ul class="attachments" ng-show="data._3.attached">
        <li ng-repeat="file in data._3.fileNames">
          <i class="fa fa-cloud-upload"></i>&nbsp;{{file | lowercase}}<i class="fa fa-times-circle" ng-click="cancelAttachments()"></i>
        </li>
      </ul>
    </div>

    <div class="form-horizontal">
      <div class="form-group">
        <h3 class="substep-title inline">2. Funcion Ventricular</h3>
        <div class="col-xs-3">
          <select class="form-control ng-pristine ng-invalid ng-invalid-required" ng-model="data._3.fnVentricular">
            <option value="">Seleccione...</option>
            <option value="No evaluada">No evaluada</option>
            <option value="Conservada">Conservada</option>
            <option value="Deterioro leve">Deterioro leve</option>
            <option value="Deterioro moderado">Deterioro moderado</option>
            <option value="Deterioro grave">Deterioro grave</option>
          </select>
        </div>
        <div ng-if="data._3.fnVentricular && data._3.fnVentricular !== 'No evaluada'">
          <h3 class="substep-title inline">Evaluada Por</h3>
          <div class="col-xs-4">
            <select class="form-control ng-pristine ng-invalid ng-invalid-required" ng-model="data._3.evaluadaPor">
              <option value="">Seleccione...</option>
              <option value="Ecocardiografía">Ecocardiografía</option>
              <option value="SPECT">SPECT</option>
              <option value="RM">RM</option>
              <option value="VTG">VTG</option>
            </select>
          </div>
        </div>
      </div>
      <div class="form-group">
        <h3 class="substep-title">3. Otros Estudios</h3>
        <textarea class="form-control" ng-model="data._3.otrosEstudios" rows="3" placeholder="Comentarios..."></textarea>
      </div>

      <div class="form-group">
        <h3 class="substep-title">4. Riesgo Cardiológico</h3>
        <div class="col-xs-12 form-group">
          <label class="col-xs-5 control-label">Estratificación del riesgo clínico</label>
          <div class="col-xs-4">
            <input type="text" class="form-control" disabled value="{{data._3.riesgo1}}" required placeholder="Sin datos...">
          </div>
          <button type="submit" class="btn btn-default col-xs-2" data-toggle="modal" data-target="#riesgo1">Calcular</button>
        </div>
        <div class="row col-xs-12 form-group">
          <label class="col-xs-5 control-label">Riesgo del procedimiento</label>
          <div class="col-xs-4">
            <input type="text" class="form-control" disabled value="{{data._3.riesgo2}}" required placeholder="Sin datos...">
          </div>
          <button type="submit" class="btn btn-default col-xs-2" data-toggle="modal" data-target="#riesgo2">Calcular</button>
        </div>
      </div>
    </div>
  </form>
  <!-- Modal -->
  <div class="modal fade" id="riesgo1" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title">Estratificación de riesgo clínico</h4>
          </div>
          <div class="modal-body">
            <p><strong>Seleccione los items que correspondan:</strong></p>
            <p class="age">Edad: 34</p>
            <div class="row">
              <div class="col-xs-6">
                <div class="checkbox">
                  <label>
                    <input type="checkbox" ng-model="data._3.erc._1" ng-change="updateErcScore()">Sindromes coronarios inestables <i class="fa fa-question-circle" tooltip tooltip-html="true" placement="bottom"
                    tooltip-title="Infarto de miocardio en los últimos 30 dias con isquemia residual significativa, angina inestable o angina crónica clase III-IV"></i>
                  </label>
                </div>
                <div class="checkbox">
                  <label><input type="checkbox" ng-model="data._3.erc._2" ng-change="updateErcScore()">Insuficiencia cardíaca descompensada</label>
                </div>
                <div class="checkbox">
                  <label>
                    <input type="checkbox" ng-model="data._3.erc._3" ng-change="updateErcScore()">Arritmias graves  <i class="fa fa-question-circle" tooltip tooltip-html="true" placement="bottom"
                    tooltip-title="Bloqueo AV de alto grado, arritmias ventriculares sintomáticas en presencia de cardiopatía, arritmias supraventriculares con alta respuesta ventricular"></i>
                  </label>
                </div>
                <div class="checkbox">
                  <label><input type="checkbox" ng-model="data._3.erc._4" ng-change="updateErcScore()">Enfermedad valvular grave</label>
                </div>
                <div class="checkbox">
                  <label><input type="checkbox" ng-model="data._3.erc._5" ng-change="updateErcScore()">Angina crónica CF I o II</label>
                </div>
                <div class="checkbox">
                  <label><input type="checkbox" ng-model="data._3.erc._6" ng-change="updateErcScore()">Historia de infarto de miocardio u ondas Q en ECG</label>
                </div>
              </div>
              <div class="col-xs-6">
                <div class="checkbox">
                  <label><input type="checkbox" ng-model="data._3.erc._7" ng-change="updateErcScore()">Historia de insuficiencia cardíaca</label>
                </div>
                <div class="checkbox">
                  <label><input type="checkbox" ng-model="data._3.erc._8" ng-change="updateErcScore()">Diabetes</label>
                </div>
                <div class="checkbox">
                  <label><input type="checkbox" ng-model="data._3.erc._9" ng-change="updateErcScore()">Insuficiencia renal crónica</label>
                </div>
                <div class="checkbox">
                  <label>
                    <input type="checkbox" ng-model="data._3.erc._10" ng-change="updateErcScore()">ECG anormal <i class="fa fa-question-circle" tooltip tooltip-html="true" placement="bottom"
                    tooltip-title="Hipertrofia de VI, bloqueo de rama izquierda, alteraciones del ST-T, ritmo no sinusal."></i>
                  </label>
                </div>
                <div class="checkbox">
                  <label><input type="checkbox" ng-model="data._3.erc._11" ng-change="updateErcScore()">Hipertensión arterial no controlada</label>
                </div>
                <div class="checkbox">
                  <label><input type="checkbox" ng-model="data._3.erc._12" ng-change="updateErcScore()">Historia de ACV</label>
                </div>
                <div class="checkbox">
                  <label><input type="checkbox" ng-model="data._3.erc._13" ng-change="updateErcScore()">Baja carga ergometrica (&lt; 4 METS)</label>
                </div>
              </div>
              <div class="col-xs-12">
                <p class="alert {{alertClass(data._3.riesgo1Modal)}}">
                  Riesgo según ACC/AHA:
                  <span>{{data._3.riesgo1Modal}}</span>
                </p>
              </div>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
            <button type="button" class="btn btn-primary" data-dismiss="modal"
                    ng-click="data._3.riesgo1 = data._3.riesgo1Modal">Guardar</button>
          </div>
        </div><!-- /.modal-content -->
      </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->

    <!-- Modal 2 -->
    <div class="modal fade" id="riesgo2" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
              <h4 class="modal-title">Riesgo según procedimiento</h4>
          </div>
          <div class="modal-body">
              <p><strong>Seleccione los items que correspondan:</strong></p>
              <p class="age">Edad: 34</p>
              <div class="row">
                <div class="col-xs-6">
                  <div class="checkbox">
                    <label><input type="checkbox" ng-model="data._3.rp._1" ng-change="updateRpScore()">Cirugía de emergencia</label>
                  </div>
                  <div class="checkbox">
                    <label><input type="checkbox" ng-model="data._3.rp._2" ng-change="updateRpScore()">Cirugía aórtica</label>
                  </div>
                  <div class="checkbox">
                    <label><input type="checkbox" ng-model="data._3.rp._3" ng-change="updateRpScore()">Cirugía vascular de miembros inferiores</label>
                  </div>
                  <div class="checkbox">
                    <label><input type="checkbox" ng-model="data._3.rp._4" ng-change="updateRpScore()">Cirugía valvular prolongada <i class="fa fa-question-circle" tooltip tooltip-html="true" placement="bottom"
                    tooltip-title="Asociado a grandes pérdidas de sangre y/o líquidos."></i>
                    </label>
                  </div>
                  <div class="checkbox">
                    <label><input type="checkbox" ng-model="data._3.rp._5" ng-change="updateRpScore()">Procedimiento muy radical de torax o de hebiabdomen superior</label>
                  </div>
                  <div class="checkbox">
                    <label><input type="checkbox" ng-model="data._3.rp._6" ng-change="updateRpScore()">Procedimiento intracraneano</label>
                  </div>
                  <div class="checkbox">
                    <label><input type="checkbox" ng-model="data._3.rp._7" ng-change="updateRpScore()">Endarterectomía carotídea</label>
                  </div>
                  <div class="checkbox">
                    <label><input type="checkbox" ng-model="data._3.rp._8" ng-change="updateRpScore()">Cirugía de cabeza y cuello</label>
                  </div>
                  <div class="checkbox">
                    <label><input type="checkbox" ng-model="data._3.rp._9" ng-change="updateRpScore()">Cirugía intrapeitoneal sin características de alto riesgo</label>
                  </div>
                </div>
                <div class="col-xs-6">
                  <div class="checkbox">
                    <label><input type="checkbox" ng-model="data._3.rp._10" ng-change="updateRpScore()">Cirugía ortopédica</label>
                  </div>
                  <div class="checkbox">
                    <label><input type="checkbox" ng-model="data._3.rp._11" ng-change="updateRpScore()">Cirugía prostática</label>
                  </div>
                  <div class="checkbox">
                    <label><input type="checkbox" ng-model="data._3.rp._12" ng-change="updateRpScore()">Cirugía ginecológica y pelviana</label>
                  </div>
                  <div class="checkbox">
                    <label><input type="checkbox" ng-model="data._3.rp._13" ng-change="updateRpScore()">Cirugía laparoscópica</label>
                  </div>
                  <div class="checkbox">
                    <label><input type="checkbox" ng-model="data._3.rp._14" ng-change="updateRpScore()">Procedimiento endoscópico</label>
                  </div>
                  <div class="checkbox">
                    <label><input type="checkbox" ng-model="data._3.rp._15" ng-change="updateRpScore()">Cirugía de piel o superficial</label>
                  </div>
                  <div class="checkbox">
                    <label><input type="checkbox" ng-model="data._3.rp._16" ng-change="updateRpScore()">Cirugía oftalmológica</label>
                  </div>
                  <div class="checkbox">
                    <label><input type="checkbox" ng-model="data._3.rp._17" ng-change="updateRpScore()">Cirugía otorrinolaringológica</label>
                  </div>
                  <div class="checkbox">
                    <label><input type="checkbox" ng-model="data._3.rp._18" ng-change="updateRpScore()">Cirugía de mama</label>
                  </div>
                  <div class="checkbox">
                    <label><input type="checkbox" ng-model="data._3.rp._19" ng-change="updateRpScore()">Colocación de marcapasos</label>
                  </div>
                  <div class="checkbox">
                    <label><input type="checkbox" ng-model="data._3.rp._20" ng-change="updateRpScore()">Cirugía ambulatoria</label>
                  </div>
                </div>
                <div class="col-xs-12">
                  <p class="alert {{alertClass(data._3.riesgo2Modal)}}">
                    Riesgo según ACC/AHA:
                    <span>{{data._3.riesgo2Modal}}</span>
                  </p>
                </div>
              </div>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
              <button type="button" class="btn btn-primary" data-dismiss="modal"
                      ng-click="data._3.riesgo2 = data._3.riesgo2Modal">Guardar</button>
            </div>
          </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
      </div><!-- /.modal 2 -->


</div>