<form class="form-horizontal" role="form" name="monitoreo5" id="monitoreo5" novalidate>
  <div class="form-group" ng-init="setActiveForm(monitoreo5)">
    <div class="row">
      <div class="col-xs-11">
        <div class="col-xs-5">
          <label class="control-label">Condición hemodinámica</label>
        </div>
        <div class="col-xs-7">
          <label class="radio col-xs-6">
            <input type="radio" ng-model="data._5.condicion" value="Estable" required> Estable
          </label>
          <label class="radio col-xs-6">
            <input type="radio" ng-model="data._5.condicion" value="Inestable" required> Inestable
          </label>
        </div>
      </div>
    </div>
    <div class="row row-margin-top">
      <div class="col-xs-11">
        <textarea class="form-control" rows="3" maxlength="4000"
          ng-model="data._5.comentarios" placeholder="Comentarios...">
        </textarea>
      </div>
    </div>
    <div class="row row-margin-top">
      <div class="col-xs-11">
        <div class="form-group">
          <label class="col-xs-3 control-label"># Procedimiento
            <i class="fa fa-question-circle" tooltip tooltip-html="true" placement="bottom"
               tooltip-title="Corresponde al número de suministro del procedimiento realizado. En caso de desconocerlo, consulte con la circulante del sector."></i>
          </label>
          <div class="col-xs-3">
            <input type="number" min="0" class="form-control" ng-model="data._5.procedimiento" required/>
          </div>
        </div>
      </div>
    </div>
  </div>
</form>
