<form class="form-horizontal" role="form" name="monitoreo4" id="monitoreo4" novalidate>
  <div class="form-group" ng-init="setActiveForm(monitoreo4)">
    <div class="row">
      <div class="col-xs-11">
        <div class="col-xs-6">
          <label class="control-label">Arritmias durante el procedimiento</label>
        </div>
        <div class="col-xs-3">
          <label class="radio col-xs-6">
            <input type="radio" ng-model="data._4.arritmias" value="no" required> No
          </label>
          <label class="radio col-xs-6">
            <input type="radio" ng-model="data._4.arritmias" value="si" required> Si
          </label>
        </div>
      </div>
    </div>
    <div class="row row-margin-top">
      <div class="col-xs-11">
        <textarea class="form-control" rows="6" maxlength="4000"
          ng-model="data._4.eventos" placeholder="Describa los eventos ocurridos durante el procedimiento...">
        </textarea>
      </div>
    </div>
  </div>
</form>
