<form class="form-horizontal" role="form" name="pa1" id="pa1" novalidate>
  <div class="all-problems row" ng-show="data._1.createdProblems.length > 0">
    <div class="alert alert-warning" role="alert">
      Sólo los problemas que se encuentren marcados se mencionarán en esta sección al cerrar la ficha.
    </div>
    <div class="row col-xs-12">
      <span class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="true">
        <input type="checkbox" ng-checked="data._1.markedProblems.length === data._1.createdProblems.length" ng-model="checker"
        ng-click="setAllChecks(data._1, data._1.markedProblems.length < data._1.createdProblems.length); $event.stopPropagation();">&nbsp;&nbsp;<span class="caret"></span>
      </span>
      <ul class="dropdown-menu" role="menu" aria-labelledby="nav-dropdown">
        <li><a role="menuitem" tabindex="-1" ng-click="setAllChecks(data._1, true);" href="#">Todos</a></li>
        <li><a role="menuitem" tabindex="-1" ng-click="setAllChecks(data._1, false);" href="#">Ninguno</a></li>
      </ul>
      <span class="title-blue" style="margin-bottom:10px">Problemas del paciente&nbsp;&nbsp;&nbsp;&nbsp;</span>
      <span class="label label-default problem-label new-problem" ng-click="showNewProblemModal();">
        <i class="fa fa-plus"></i><span class="label-description" style="margin-left:5px">Nuevo Problema</span>
      </span>
    </div>
    <div class="old-problems form-group col-xs-11">
      <label class="checkbox checkall-aligned" ng-repeat="p in data._1.createdProblems">
        <input ng-change="changeMarkedProblems(data._1)" ng-model="p._selected" type="checkbox">{{p.name}} ({{p._humanState}})
      </label>
    </div>
  </div>
  <div class="row" ng-hide="data._1.createdProblems && data._1.createdProblems.length > 0">
    <span class="title-slim" style="margin-right: 10px">No hay problemas cargados para este paciente</span>
    <br/><br/>
    <span class="label label-default problem-label new-problem" ng-click="showNewProblemModal();">
      <i class="fa fa-plus"></i><span class="label-description" style="margin-left:5px">Agregar</span>
    </span>
  </div>
</form>

<div class="modal fade new-problem-modal-pa" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header" style="background-color:#424f63;">
        <button type="button" class="close" data-dismiss="modal">
          <span aria-hidden="true">&times;</span><span class="sr-only">Close</span>
        </button>
        <h4 class="modal-title" id="myModalLabel">Nuevo Problema</h4>
      </div>
      <div class="modal-body">
        <div ng-include="'/assets/templates/patient/problem-form.html'"></div>
      </div>
    </div>
  </div>
</div>
