<form class="form-horizontal" role="form" name="pa3" id="pa3" novalidate>
  <div class="row-margin-top alert alert-info" ng-init="setActiveForm(pa3)">
    <div class="form-group">
      <label class="control-label col-xs-4">Clasificación ASA</label>
      <div class="col-xs-8">
        <label class="radio-inline"><input type="radio" ng-model="data._3.asa" value="1">1</label>
        <label class="radio-inline"><input type="radio" ng-model="data._3.asa" value="2">2</label>
        <label class="radio-inline"><input type="radio" ng-model="data._3.asa" value="3">3</label>
        <label class="radio-inline"><input type="radio" ng-model="data._3.asa" value="4">4</label>
        <label class="radio-inline"><input type="radio" ng-model="data._3.asa" value="5">5</label>
      </div>
    </div>
    <div class="form-group">
      <label class="control-label col-xs-4">Urgencia</label>
      <div class="col-xs-8">
        <label class="radio-inline"><input type="radio" ng-model="data._3.asa_urg" value="si">Si</label>
        <label class="radio-inline"><input type="radio" ng-model="data._3.asa_urg" value="no">No</label>
      </div>
    </div>
  </div>
  <div class="form-group">
    <label for="3-2" class="control-label">Visualización orofaringe</label>
    <div class="col-xs-5">
      <label class="radio-inline"><input type="radio" ng-model="data._3.orafaringe" value="0">0</label>
      <label class="radio-inline"><input type="radio" ng-model="data._3.orafaringe" value="1">1</label>
      <label class="radio-inline"><input type="radio" ng-model="data._3.orafaringe" value="2">2</label>
      <label class="radio-inline"><input type="radio" ng-model="data._3.orafaringe" value="3">3</label>
    </div>
  </div>
  <div class="form-group">
    <label class="control-label col-xs-5" for="step-3-3">Distancia tiromentoniana</label>
    <div class="col-xs-5">
      <div class="input-group">
        <input type="number" min="0" class="form-control" ng-model="data._3.distancia" aria-describedby="sizing-addon2">
        <span class="input-group-addon" id="step-3-3">cm</span>
      </div>
    </div>
  </div>
  <div class="form-group">
    <label class="col-xs-5 control-label" for="step-3-4">Apertura cavidad bucal</label>
    <div class="col-xs-5">
      <div class="input-group">
        <input type="number" min="0" class="form-control" ng-model="data._3.apertura" aria-describedby="sizing-addon2">
        <span class="input-group-addon" id="step-3-4">cm</span>
      </div>
    </div>
  </div>
  <div class="form-group">
    <label for="step-3-5" class="control-label label-mov-cerv col-xs-5">Movilidad Cervical</label>
    <div class="col-xs-5">
      <input type="text" class="form-control" ng-model="data._3.movilidad" id="step-3-5">
    </div>
  </div>
  <div class="form-group">
    <label for="3-8" class="control-label col-xs-4">Grupo Sanguíneo</label>
    <div class="col-xs-8">
      <label class="radio-inline"><input type="radio" ng-model="data._3.grupo" value="'A'">A</label>
      <label class="radio-inline"><input type="radio" ng-model="data._3.grupo" value="'B'">B</label>
      <label class="radio-inline"><input type="radio" ng-model="data._3.grupo" value="'AB'">AB</label>
      <label class="radio-inline"><input type="radio" ng-model="data._3.grupo" value="'0'">0</label>
    </div>
  </div>
  <div class="form-group">
    <label for="3-8" ng-if="data._3.grupo" class="col-xs-4 control-label">Factor Rh</label>
    <div class="col-xs-6" ng-if="data._3.grupo">
      <label class="radio-inline">
        <input type="radio" name="optradio" ng-model="data._3.factor" value="Positivo" ng-required="data._3.grupo">Positivo
      </label>
      <label class="radio-inline">
        <input type="radio" name="optradio" ng-model="data._3.factor" value="Negativo" ng-required="data._3.grupo">Negativo
      </label>
    </div>
  </div>
  <div class="form-group">
    <label class="control-label force-left label-peso" for="step-3-10">Peso</label>
    <div class="col-xs-4">
      <div class="input-group">
        <input type="number" min="0" class="form-control" ng-model="data._3.peso" aria-describedby="sizing-addon2">
        <span class="input-group-addon" id="step-3-3">kg</span>
      </div>
    </div>
    <label class="col-xs-1 control-label" for="step-3-10">Talla</label>
    <div class="col-xs-4">
      <div class="input-group">
        <input type="number" min="0" class="form-control" ng-model="data._3.talla" aria-describedby="sizing-addon2">
        <span class="input-group-addon" id="step-3-3">cm</span>
      </div>
    </div>
  </div>
  <div class="form-group">
    <label class="control-label" for="step-3-10">Tiempo de Ayuno</label>
    <div class="col-xs-4">
      <div class="input-group">
        <input type="number" min="0" class="form-control" ng-model="data._3.ayuno" aria-describedby="sizing-addon2">
        <span class="input-group-addon" id="step-3-3">hs</span>
      </div>
    </div>
  </div>
  <div class="form-group">
    <textarea class="form-control" rows="3" placeholder="Comentarios..." ng-model="data._3.comentarios"></textarea>
  </div>
</form>