<h5><b># Procedimiento: {{data._5.procedimiento}}</b></h5>
<div class="medical-info-evolution">
  <div class="{{helpers.showIf(data._1.markedProblems.length > 0)}}">
    <p>Antecedentes patológicos:</p>
    <p class="respect-whitespace indent">{{helpers.asList(data._1.markedProblems, '\n', 'name', '_humanState')}}</p>
  </div>
  <p class="{{helpers.showIf(data._1.createdProblems.length === 0)}}">Sin antecedentes patológicos</p>
  <p>Medicación habitual:</p>
  <p class="respect-whitespace indent">{{data._2.noMed ? 'No refiere' : data._2.medicacion}}</p>

  <div class="{{helpers.showIf(data._3.hasData)}}">
    <p>Evaluacion Preoperatoria:</p>
    <p class="indent {{helpers.showIf(data._3.ecgText)}}">ECG: {{data._3.ecgText}}</p>
    <p class="indent {{helpers.showIf(data._3.imagesText)}}">Se evidencia imagen de: {{data._3.imagesText}}</p>
    <p class="respect-whitespace indent {{helpers.showIf(data._3.comments)}}">Comentarios: {{data._3.comments}}</p>
    <p class="indent {{helpers.showIf(data._3.attachments.length > 0)}}">Imagen del ECG:
      <a href="{{data._3.attachments[0].url}}" data-toggle="lightbox" data-type="image" data-title="{{data._3.attachments[0].name}}">{{data._3.attachments[0].name}}</a>
    </p>
    <p class="indent {{helpers.showIf(data._3.ventricularText)}}">Función ventricular: {{data._3.ventricularText}}</p>
    <p class="respect-whitespace indent {{helpers.showIf(data._3.otrosEstudios)}}">Otros estudios: {{data._3.otrosEstudios}}</p>
  </div>

  <p class="{{helpers.showIf(data._3.riesgo1)}}">Estratificación del riesgo clínico: {{data._3.riesgo1}}</p>
  <p class="{{helpers.showIf(data._3.riesgo2)}}">Riesgo del procedimiento: {{data._3.riesgo2}}</p>
  <p>{{data._4.arritmias === 'si' ? 'Presentó' : 'No presentó'}} arritmias durante el monitoreo</p>
  <p class="respect-whitespace indent {{helpers.showIf(data._4.eventos)}}">Comentarios: {{data._4.eventos}}</p>
  <p>Condición hemodinámica postoperatoria: {{data._5.condicion}}</p>
  <p class="respect-whitespace indent {{helpers.showIf(data._5.comentarios)}}">Comentarios: {{data._5.comentarios}}</p>
</div>
