<h5><b>Parte Anestésico</b>
  <a href="#" ng-click="print();" class="fa fa-print print-evolution"></a>
</h5>
<form method="POST" target="pdf_form" action="evolution-pdf" class="hidden">
  <input type="hidden" name="evolution" value="{{printableVersion}}"/>
  <input id="openpdf" type="submit" class="btn btn-default pull-right" value="PDF"/>
</form>
<h5><b># Procedimiento: {{data._7.procedimiento}}</b></h5>

<div class="medical-info-evolution">

  <!--Step 1-->
  <div class="{{helpers.showIf(data._1.markedProblems.length > 0)}}">
    <p>Antecedentes patológicos:</p>
    <p class="respect-whitespace indent">{{helpers.asList(data._1.markedProblems, '\n', 'name', '_humanState')}}</p>
  </div>
  <p class="{{helpers.showIf(data._1.markedProblems.length === 0)}}">Sin antecedentes patológicos</p>

  <!--Step 2-->
  <p>Medicación habitual:</p>
  <p class="respect-whitespace indent">{{data._2.noMed ? 'No refiere' : data._2.medicacion}}</p>

  <!--Step 3-->
  <p class="{{helpers.showIf(data._3)}}">Examen físico:</p>
  <p class="indent {{helpers.showIf(data._3.orafaringe)}}">Visualización de orofaringe: {{data._3.orafaringe}}</p>
  <p class="indent {{helpers.showIf(data._3.distancia)}}">Distancia tiromentoriana: {{data._3.distancia}}</p>
  <p class="indent {{helpers.showIf(data._3.apertura)}}">Apertura cavidad bucal: {{data._3.apertura}}</p>
  <p class="indent {{helpers.showIf(data._3.movilidad)}}">Movilidad cervical: {{data._3.movilidad}}</p>
  <p class="indent {{helpers.showIf(data._3.falla)}}">{{data._3.falla == 'Si' ? 'Presentaba' : 'No presentaba'}} signos de falla de bomba</p>
  <p class="indent respect-whitespace {{helpers.showIf(data._3.comentariosFalla)}}">{{data._3.comentariosFalla}}</p>
  <p class="indent {{helpers.showIf(data._3.asa)}}">Clasificación ASA: {{data._3.asa}}
  <span class="{{helpers.showIf(data._3.asa_urg)}}">({{data._3.asa_urg === 'si' ? 'urgente' : 'no urgente'}})</span>
  </p>
  <p class="indent {{helpers.showIf(data._3.grupo)}}">Grupo sanguíneo: {{data._3.grupo}} {{data._3.factor}}</p>
  <p class="indent {{helpers.showIf(data._3.peso)}}">Peso del paciente: {{data._3.peso}} kg</p>
  <p class="indent {{helpers.showIf(data._3.talla)}}">Talla: {{data._3.talla}} cm</p>
  <p class="indent {{helpers.showIf(data._3.ayuno)}}">Tiempo de ayuno: {{data._3.ayuno}} horas</p>
  <p class="indent respect-whitespace {{helpers.showIf(data._3.comentarios)}}">Comentarios: {{data._3.comentarios}}</p>

  <!--Step 4-->
  <p>Estudios complementarios:</p>
  <p class="indent {{helpers.showIf(data._4.ecgText)}}">ECG: {{data._4.ecgText}}</p>
  <p class="indent {{helpers.showIf(data._4.imagesText)}}">Se evidencia imagen de: {{data._4.imagesText}}</p>
  <p class="respect-whitespace indent {{helpers.showIf(data._4.comments)}}">Comentarios: {{data._4.comments}}</p>
  <p class="indent {{helpers.showIf(data._4.attachments.length > 0)}}">Imagen del ECG:
    <a href="{{data._4.attachments[0].url}}" data-toggle="lightbox" data-type="image" data-title="{{data._4.attachments[0].name}}">{{data._4.attachments[0].name}}</a>
  </p>
  <p class="indent respect-whitespace {{helpers.showIf(data._4.torax)}}">Radiografía de tórax: {{data._4.torax}}</p>
  <p class="indent {{helpers.showIf(data._4.labAsText && data._4.labAsText.length > 0)}}">Laboratorio: <span class="indent respect-whitespace {{helpers.showIf(data._4.labAsText)}}">{{data._4.labAsText}}</span>
  </p>
  <p class="indent respect-whitespace {{helpers.showIf(data._4.otrosEstudios)}}">Otros estudios: {{data._4.otrosEstudios}}</p>

  <!--Step 5-->
  <p class="{{helpers.showIf(data._5)}}">Preparación del paciente:</p>
  <p class="indent {{helpers.showIf(data._5.ecg)}}">Se conectó al paciente a monitor de ECG</p>
  <p class="indent {{helpers.showIf(data._5.presion)}}">Se conectó al paciente a monitor de Presión Arterial</p>
  <p class="indent {{helpers.showIf(data._5.saturometria)}}">Se conectó al paciente a saturometría de pulso</p>
  <p class="indent {{helpers.showIf(data._5.chequeo_mesa)}}">{{data._5.chequeo_mesa === 'si' ? 'Se' : 'No se'}} realizó chequeo de la mesa anestésica</p>
  <p class="indent {{helpers.showIf(data._5.ocular)}}">Se realizó protección ocular</p>
  <p class="indent {{helpers.showIf(data._5.decubitos)}}">Se realizó protección de decúbitos</p>
  <div class="{{helpers.showIf(data._5.accesos && data._5.accesos.length > 0)}}">
    <p class="indent">Se utilizaron los accesos vasculares:</p>
    <p class="indent respect-whitespace"> - {{helpers.asList(data._5.accesos, '\n - ', 'tipo', 'localizacion')}}</p>
  </div>
  <p class="indent {{helpers.showIf(data._5.profilaxis && data._5.profilaxis !== 'nc')}}">{{data._5.profilaxis === 'si' ? 'Se' : 'No se'}} realizó profilaxis antibiótica. <span class="indent respect-whitespace {{helpeexrs.showIf(data._5.profilaxis_comentarios)}}">{{data._5.profilaxis_comentarios}}</span>
  </p>
  <p>Se utilizó antestesia:</p>
  <p class="indent respect-whitespace {{helpers.showIf(data._5.anestesia && data._5.anestesia.length > 0)}}"> - {{helpers.asList(data._5.anestesia, '\n - ', 'tipo', 'val')}}</p>
  <p class="indent respect-whitespace {{helpers.showIf(data._5.otra)}}"> - otra ({{data._5.otraComentarios}})</p>
  <p class="indent {{helpers.showIf(data._5.sedacion)}}">&nbsp;- sedación{{data._5.sedacionUtilizando}}.</p>
  <p class="indent respect-whitespace {{helpers.showIf(data._5.sedacion_farmacos)}}">Fármacos y observaciones: {{data._5.sedacion_farmacos}}</p>
  <p class="indent {{helpers.showIf(data._5.general)}}">&nbsp;- general{{data._5.generalUtilizando}}.
    <span class="indent {{helpers.showIf(data._5.generalAsistencia)}}">{{data._5.generalAsistencia}}. </span>
    <span class="indent {{helpers.showIf(data._5.traumatico)}}">Procedimiento {{data._5.traumatico === 'si' ? 'traumático' : 'atraumático'}}. </span>
    <span class="indent {{helpers.showIf(data._5.entradaDerecho)}}">Entrada de aire en campo derecho. </span>
    <span class="indent {{helpers.showIf(data._5.entradaIzquierdo)}}">Entrada de aire en campo izquierdo. </span>
    <span class="indent respect-whitespace {{helpers.showIf(data._5.asistenciaComentarios)}}">{{data._5.asistenciaComentarios}}. </span>
    <span class="indent {{helpers.showIf(data._5.seteoVentilador)}}">Seteo del ventilador: {{data._5.seteoVentilador}}. </span>
  </p>

  <!--Step 6-->
  <p>Ingreso del paciente a Quirófano: {{data._6.fecha}} a las {{data._6.hora}} horas.</p>
  <p>Monitoreo intraoperatorio:</p>
  <p class="fc-chart" ng-init="renderChart(data._6.chartData.fc, 'fc-chart');"></p>
  <p class="fr-chart" ng-init="renderChart(data._6.chartData.fr, 'fr-chart')"></p>
  <p class="pa-chart" ng-init="renderChart(data._6.chartData.pa, 'pa-chart')"></p>
  <p class="sat-chart" ng-init="renderChart(data._6.chartData.saturacion, 'sat-chart')"></p>
  <p class="et-chart" ng-init="renderChart(data._6.chartData.et, 'et-chart')"></p>
  <p class="indent respect-whitespace log-only {{helpers.showIf(data._6.monitoreoText)}}">Valores medidos: {{data._6.monitoreoText}}</p>
  <p class="indent respect-whitespace {{helpers.showIf(data._6.farmacos1Text)}}">Fármacos utilizados en la inducción: {{data._6.farmacos1Text}}</p>
  <p class="indent respect-whitespace {{helpers.showIf(data._6.farmacos2Text)}}">Fármacos utilizados en el mantenimiento: {{data._6.farmacos2Text}}</p>
  <p class="indent respect-whitespace {{helpers.showIf(data._6.farmacos3Text)}}">Otros fármacos: {{data._6.farmacos3Text}}</p>
  <p class="indent respect-whitespace {{helpers.showIf(data._6.fluidosText)}}">Fluidos administrados: {{data._6.fluidosText}}</p>
  <p class="indent respect-whitespace {{helpers.showIf(data._6.egresosText)}}">Egresos: {{data._6.egresosText}}</p>
  <p class="indent respect-whitespace {{helpers.showIf(data._6.eventos)}}">Eventos ocurridos durante el procedimiento: {{data._6.eventos}}</p>

  <!--Step 7-->
  <p class="{{helpers.showIf(data._7.savedScore || data._7.reversion || data._7.cabeza)}}">Recuperación post anestésica:</p>
  <p class="indent {{helpers.showIf(data._7.savedScore)}}">Score de Aldrete modificado: {{data._7.savedScore}}</p>
  <p class="indent {{helpers.showIf(data._7.reversion)}}">{{data._7.reversion === 'Si' ? 'Se' : 'No se'}} realizó reversión del bloqueo neuromuscular</p>
  <p class="indent respect-whitespace {{helpers.showIf(data._7.reversion === 'Si' && data._7.farmacos)}}">Fármacos: {{data._7.farmacos}}</p>
  <p class="indent {{helpers.showIf(data._7.cabeza)}}">{{data._7.cabeza === 'Si' ? 'Levanta y sostiene' : 'No levanta ni sostiene'}} la cabeza</p>
  <p class="indent respect-whitespace {{helpers.showIf(data._7.comentarios)}}">{{data._7.comentarios}}</p>

</div>
