<form class="form-inline" role="form" name="pq1" id="pq1" novalidate>
  <div class="form-group" ng-init="setActiveForm(pq1)">
    <div class="row">
      <div class="col-xs-11">
        <label class="col-xs-11">
          <input type="checkbox" ng-model="data._1.confirma"> El paciente ha confirmado:<br/>
          &nbsp;&nbsp;&nbsp;- su identidad<br/>
          &nbsp;&nbsp;&nbsp;- sitio quirúrgico<br/>
          &nbsp;&nbsp;&nbsp;- procedimiento<br/>
          &nbsp;&nbsp;&nbsp;- su consentimiento<br/>
        </label>
        <label class="col-xs-11">
          <input type="checkbox" ng-model="data._1.demarcacion"> Demarcación del sitio quirúrgico / No corresponde
        </label>
        <label class="col-xs-11">
          <input type="checkbox" ng-model="data._1.seguridad"> Se ha completado el control de la seguridad anestésica
        </label>
        <label class="col-xs-11">
          <input type="checkbox" ng-model="data._1.oximetro"> Oxímetro de pulso colocado y en funcionamiento
        </label>
      </div>
    </div>
    <div class="row row-margin-top">
      <div class="col-xs-11">
        <div class="col-xs-4">
          <label class="control-label">¿Tiene alergias conocidas?</label>
        </div>
        <div class="col-xs-3" ng-if="allergies.length === 0">
          <label class="radio col-xs-6">
            <input type="radio" ng-model="data._1.alergias" value="si"> Si
          </label>
          <label class="radio col-xs-6">
            <input type="radio" ng-model="data._1.alergias" value="no"> No
          </label>
        </div>
        <div ng-if="data._1.alergias !== 'no'">
          <ul ng-if="allergies.length > 0" class="old-problems col-xs-10 col-xs-offset-1 row-margin-top">
            <li ng-repeat="a in allergies">Alergia a {{a.name}}</li>
          </ul>
          <div ng-if="data._1.alergias || allergies.length > 0" class="col-xs-10 col-xs-offset-1 add-allergy">
            <span class="label label-default problem-label new-problem"
                  ng-click="showNewProblemModal('allergy');">
              <i class="fa fa-plus"></i><span class="label-description" style="margin-left:5px">Agregar</span>
            </span>
          </div>
        </div>
      </div>
    </div>
    <div class="row row-margin-top">
      <div class="col-xs-12">
        <div class="col-xs-7">
          <label class="control-label">¿Tiene vía aérea dificultosa (Malampatti III-IV) o riesgo de aspiración?</label>
        </div>
        <div class="col-xs-5">
          <label class="radio col-xs-3">
            <input type="radio" ng-model="data._1.riesgo_aspiracion" value="si"> Si
          </label>
          <label class="radio col-xs-3">
            <input type="radio" ng-model="data._1.riesgo_aspiracion" value="no"> No
          </label>
          <label class="radio col-xs-6">
            <input type="radio" ng-model="data._1.riesgo_aspiracion" value="no_aplica"> No aplica
          </label>
        </div>
      </div>
    </div>
    <div ng-if="data._1.riesgo_aspiracion === 'si'" class="row row-margin-top">
      <div class="col-xs-9 col-xs-offset-1 alert alert-info" role="alert">
        <center>Hay instrumental y equipos / Ayuda disponible</center>
      </div>
    </div>
    <div class="row row-margin-top">
      <div class="col-xs-12">
        <div class="col-xs-7">
          <label class="control-label">¿Tiene riesgo de hemorragia > 500 ml (7 ml/kg en niños)?</label>
        </div>
        <div class="col-xs-5">
          <label class="radio col-xs-3">
            <input type="radio" ng-model="data._1.riesgo_hemorragia" value="si"> Si
          </label>
          <label class="radio col-xs-3">
            <input type="radio" ng-model="data._1.riesgo_hemorragia" value="no"> No
          </label>
          <label class="radio col-xs-6">
            <input type="radio" ng-model="data._1.riesgo_hemorragia" value="no_aplica"> No aplica
          </label>
        </div>
      </div>
    </div>
    <div ng-if="data._1.riesgo_hemorragia === 'si'" class="row row-margin-top">
      <div class="col-xs-9 col-xs-offset-1 alert alert-info" role="alert">
        <center>Se ha previsto la disponibilidad de acceso IV y líquidos adecuados</center>
      </div>
    </div>
  </div>
</form>

<div class="modal fade new-problem-modal-pq" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header" style="background-color:#424f63;">
        <button type="button" class="close" data-dismiss="modal">
          <span aria-hidden="true">&times;</span><span class="sr-only">Close</span>
        </button>
        <h4 class="modal-title" id="myModalLabel">Nueva Alergia</h4>
      </div>
      <div class="modal-body">
        <div ng-include="'/assets/templates/patient/problem-form-fixed-state.html'"></div>
      </div>
    </div>
  </div>
</div>