<form class="form-horizontal" role="form" name="pq5" id="pq5" novalidate>
  <div class="row row-margin-top" ng-init="setActiveForm(pq5);">
    <div class="col-xs-11">
      <div class="form-group">
        <label class="col-xs-3 control-label"># Procedimiento
          <i class="fa fa-question-circle" tooltip tooltip-html="true" placement="bottom"
               tooltip-title="Corresponde al número de suministro del procedimiento realizado. En caso de desconocerlo, consulte con la circulante del sector."></i>
        </label>
        <div class="col-xs-3">
          <input type="number" min="0" class="form-control" ng-model="data._5.procedimiento" required/>
        </div>
      </div>
    </div>
  </div>
  <div class="form-group row">
    <div class="col-xs-11">
      <textarea class="form-control" maxlength="140" rows="4" ng-model="data._5.evolucion"
                placeholder="Evolución y condición inmediata post operatoria..."></textarea>
    </div>
  </div>
  <div class="form-group">
    <label for="date" class="col-xs-4 control-label">Destino del paciente</label>
    <div class="col-xs-4">
      <select class="form-control" ng-model="data._5.destino" required>
        <option value="">Seleccione...</option>
        <option value="Terapia Intensiva">Terapia Intensiva</option>
        <option value="Unidad Coronaria">Unidad Coronaria</option>
        <option value="Internación General">Internación General</option>
        <option value="Maternidad">Maternidad</option>
        <option value="Neonatología">Neonatología</option>
        <option value="Pediatría">Pediatría</option>
        <option value="Hemodinamia">Hemodinamia</option>
        <option value="Guardia">Guardia</option>
        <option value="Sala de partos">Sala de partos</option>
        <option value="Sala de recuperación">Sala de recuperación</option>
        <option value="Domicilio">Domicilio</option>
      </select>
    </div>
  </div>
  <div class="form-group row">
    <div class="col-xs-11">
      <textarea class="form-control" maxlength="140" rows="4" ng-model="data._5.indicaciones"
                placeholder="Indicaciones médicas..."></textarea>
    </div>
  </div>
</form>