button.evolution-action, li.has-legend, div.evolution-options, div.evolution-action, *.ng-hide, div.avatar, div.more-info {
  display: none;
}
div.patient-info {
  font-size: small;
}
div.patient-info h5 {
  font-size: 30px;
  margin:0px;
}
span.entry-author {
  display: block;
  margin-top:10px;
  float: right;
}
h1.blue {
  font-size: 20px;
  text-transform: capitalize;
}