<form class="form-horizontal" role="form" name="anestesia1" id="anestesia1" novalidate>
    <div ng-init="setActiveForm(anestesia1)" class="container-antestesia">
        <div>
            <h4>Parte Anestesico #{{data.parte.id}}</h4>
        </div>
        <div class="row-anestesia">
            <span>Fecha y hora de ingreso del paciente a quirófano:</span>
            <input ng-change="persistData()" name="date" type="text" class="form-control input-anestesia" ng-model="data._1.fecha" default-date-picker date-picker ng-pattern="/^\d{2}\/\d{2}\/\d{4}$/" required/>
            <input ng-change="persistData()" type="text" step="300" class="form-control input-anestesia" time-picker ng-model="data._1.hora" required/>
        </div>
        <div class="row-anestesia">
            <span>Tipo de procedimiento quirúrgico:</span>
            <div ng-repeat="procedimiento in procedimientos">
                <div class="multiBtn" ng-click="selectProcedimiento(this, $event)">{{procedimiento.name}}</div>
            </div>
        </div>
        <div class="row-anestesia">
            <span>Tipo de antestesia:</span>
            <div ng-repeat="anestesia in anestesias">
                <div class="multiBtn" ng-click="selectAnestesia(this, $event)">{{anestesia.name}}</div>
            </div>
        </div>
        <div class="row-botones">
            <div style="flex:1">
                <button type="button" class="btn btn-link" ng-click="exit();">Salir</button>
            </div>
            <button type="button" class="btn btn-primary pull-right" ng-click="next();" ng-disabled="saving || getActiveForm().$invalid" ng-hide="step === steps.length">
                <span ng-show="saving" class="ng-hide"><i class="fa fa-spin fa-spinner"></i>&nbsp;&nbsp;</span>Comenzar Parte Anestésico
            </button>
        </div>
    </div>
</form>